<template>
  <div>
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">
            Bộ môn : {{deck.name}}
        </h1>
        <img
              class="card-img-top img-thumbnail"
              :src="deck.thumnails"
              alt="Card image cap"
            />
        <p>
          {{deck.description}}
        </p>
      </div>
      <div class="col-md-6 d-flex align-items-start flex-column">
        <div class="p-2 mb-auto">
            <button class="btn btn-primary">Start</button>
            <button class="btn btn-primary" @click.prevent="openModal('create')">
              Create
            </button>
             <button class="btn btn-warning" @click.prevent="openModal('DeckFormModal')">
               Edit
            </button>
        </div>
      </div>
    </div>
    Data id : {{ $route.params.id }}
    <div class="row">
      <div v-for="card in cards" :key="card._id" class="col-md-4">
          <div class="card">
            <img
              class="card-img-top"
              :src="card.thumnails"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">{{ card.name }}</h5>
              <p class="card-text">
                {{ card.description }}
              </p>
            </div>
          </div>
      </div>
    </div>

    <v-modal name="CardFormModal">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Create a Card</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" @click.prevent="closeModal">×</span>
        </button>
      </div>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="text"
            placeholder="Enter name"
          />
        </div>
        <div class="form-group">
          <label for="des">Des</label>
          <textarea
            type="text"
            class="form-control"
            id="des"
            placeholder="des"
          />
        </div>
        <div class="form-group">
          <label class="form-check-label" for="exampleCheck1">file</label>
          <input type="file" class="form-check-input" id="exampleCheck1" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div class="d-flex justify-content-end">
        <button class="btn btn-danger" @click.prevent="closeModal('closeCreate')">
          Close
        </button>
      </div>
    </v-modal>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  asyncData(context){
    return axios.get(`https://vuejs-28d14-default-rtdb.firebaseio.com/decks/${context.params.id}.json`).then((respone) => {
      return { deck : respone.data }
    }).catch((e)=>{
       context.error(e);
    })
  },
  created(){
      // this.$store.dispatch('setDecks', this.cards);
      // console.log(this.$store.getters.decks);
  },
  data() {
    return {
      cards: [
      ],
      deck : {},
    };
  },
  methods: {
    openModal(name) {
      if(name === 'create'){
      this.$modal.open({ name: "CardFormModal" });
      }else{
        this.$modal.open({
           name: "DeckFormModal", 
           payload : {...this.deck, id : this.$route.params.id }
          });
      }
    },
    closeModal(name) {
      if(name === 'closeCreate'){
        this.$modal.close({ name: "CardFormModal" });
      }else{
        this.$modal.close({ name: "DeckFormModal" });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>