<template>
  <div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">
            <form id="login-form" class="form" @submit.prevent="onSubmit">
              <h3 class="text-center text-info">Login</h3>
              <div class="form-group">
                <label for="username" class="text-info">Email:</label><br />
                <input
                  type="text"
                  v-model="email"
                  id="username"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="password" class="text-info">Password:</label><br />
                <input
                  type="text"
                  id="password"
                  v-model="password"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <input
                  type="submit"
                  class="btn btn-info btn-md"
                  value="submit"
                />
              </div>
              <div id="register-link" class="text-right">
                <nuxt-link to="/register"> Register here </nuxt-link>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: "auth",
  data() {
    return {
      email: "",
      password: "",
      isLogin : true,
    };
  },
  methods: {
    onSubmit() {
        this.$store.dispatch('authenticateUser',{
            email : this.email,
            password : this.password,
            isLogin : this.isLogin,
        }).then((result) => {
            console.log(result);
            if(result.success){
                console.log('ok')
                this.$router.push('/decks');
            }
        })
        .catch((error)=>{
            console.log('error', error);
        })
    },
  },
};
</script>