<template>
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p>This is a simpleRegister Form made using Boostrap.</p>
      </div>
      <form @submit.prevent="onSubmit">
      <div class="form-content">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input
                type="text"
                v-model="email"
                class="form-control"
                placeholder="Email *"
                value=""
              />
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input
                type="text"
                v-model="password"
                class="form-control"
                placeholder="Your Password *"
                value=""
              />
            </div>
            </div>
             <div class="col-md-12">
            <div class="form-group">
              <input
                type="text"
                 v-model="repassword"
                class="form-control"
                placeholder="Confirm Password *"
                value=""
              />
            </div>
          </div>
        </div>
        <button type="submit" class="btnSubmit">Submit</button>
         <nuxt-link to="/login"> Login </nuxt-link>
      </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  layout: "auth",
  middleware : 'auth',
  data() {
    return {
        email : '',
        password : '',
        repassword : '',
    }
  },
   methods: {
     checkValidPassword(){
        return this.password === this.repassword;
     },
      onSubmit() {
        const validPassword = this.checkValidPassword();
        if(validPassword){
          this.$store.dispatch('authenticateUser',{
            email : this.email,
            password : this.password,
            isLogin : false,
        }).then((result) => this.$router.push('/decks'))
        }else{
          console.log('repassword wrong');
        }
      }
    },
};
</script>