<template>
  <div>
    <button class="btn btn-success" @click.prevent="openModal">
      Create Desk
    </button>
    <div class="list row mt-3">
      <Decks v-for="deck in decks" :key="deck._id" :_id="deck._id" :thumnails="deck.thumnails" :name="deck.name" :description="deck.description"   >
      </Decks>
    </div>

    
  </div>
</template>

<script>
import axios from 'axios';

import Decks from '@/components/Decks/Decks.vue';
export default {
  components: {
    Decks,
  },
  middleware : 'router-log'
  ,
  data() {
    return {
      decks: [
      ],
    };
  },
  created(){
      // // this.$store.dispatch('setDecks', this.cards);
      // console.log(this.$store.getters.token);
  },
  asyncData(context){
    
    return axios.get('https://vuejs-28d14-default-rtdb.firebaseio.com/decks.json').then((response)=>{
        const decksArr = [];
        for(const key in response.data){
            decksArr.push({...response.data[key], _id: key})
        }
        return { decks : decksArr }
    }).catch((e)=>{
       error({
        statusCode: 404,
        message: 'Data not found'
      })
    })
  },
  methods: {
    openModal() {
      this.$modal.open({ name: "DeckFormModal" });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>