<template>
  <div modal="true">
      <div
        v-if="visible"
        :data-modal="name"
        class="modal"
        v-bind:class="{ show: visible }"
        :style="[visible ? { display: 'block' } : { display: 'none' }]"
      >
        <div
          aria-modal="true"
          data-reach-dialog-content="true"
          tabindex="-1"
          class="modal-dialog"
        >
          <div class="modal-content">
            <div class="modal-body">
              <slot :payload="payload" />
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import vModal from "./handle";
export default {
  props: {
    name: {
      type: String,
      require: true,
    },
  },
  data() {
    return {
      payload: null,
      visible: false,
    };
  },
  beforeMount() {
    //open event
    vModal.EventBus.$on("open", (params) => {
      if (this.name === params.name) {
        this.show(params);
      }
    }),
      vModal.EventBus.$on("close", (params) => {
        if (this.name === params.name) {
          this.close(params);
        }
      });
  },
  methods: {
    show(params) {
      this.visible = true;
      this.payload = params.payload;
    },
    close(params) {
      this.visible = false;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>