<template>
  <div class="col-md-4">
    <nuxt-link class="decks" :to="`/decks/${_id}`">
      <div class="card">
        <img class="card-img-top" :src="thumnails" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">{{ name }}</h5>
          <p class="card-text">
            {{ description }}
          </p>
        </div>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  name: "Decks",
  props: {
      _id: {
          type: String,
          default: null
      },
         thumnails: {
          type: String,
          default: ''
      },
          name: {
          type: String,
          default: ''
      },
          description: {
          type: String,
          default: ''
      },
  },
};
</script>

<style lang="scss" scoped>
</style>