<template>
  <form @submit.prevent="onSave">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="text"
        placeholder="Enter name"
        v-model="editDeck.name"
      />
    </div>
    <div class="form-group">
      <label for="des">Des</label>
      <textarea type="text" class="form-control" id="des" placeholder="des" v-model="editDeck.description"/>
    </div>
    <div class="form-group">
      <label class="form-check-label" for="exampleCheck1">file</label>
      <input type="text" class="form-check-input" id="exampleCheck1"  v-model="editDeck.thumnails" />
    </div>

    <button type="submit" class="btn btn-primary">{{ editDeck && editDeck.id ? 'Edit' : 'Create' }}</button>
  </form>
</template>

<script>
export default {
  props: {
    deck: {
      type: Object,
      default: () => ({
        name: "",
        description: "",
        thumnails: "",
      }),
    },
  },
  data() {
      return {
          editDeck: this.deck ? {...this.deck} : {
                name: "",
                description: "",
                thumnails: "",
          }
      }
  },
  methods: {
    onSave() {
        this.$emit('submit', this.editDeck);
    },
    closeModal() {
      this.$modal.close({ name: "createDesk" });
    },
  },
};
</script>

