<template>
  <div class="container">
    <nav class="navbar navbar-light bg-light justify-content-between mb-3">
      <a class="navbar-brand">Navbar</a>
      <NuxtLink to="/decks/">decks page</NuxtLink>
      <NuxtLink to="/">home</NuxtLink>
      <NuxtLink to="/register/">Register</NuxtLink>
      <div v-if="isLogin">
        <button class="btn btn-danger" @click="logOut">logOut</button>
      </div>
    </nav>

    <Nuxt />
    <v-modal v-slot="payload" name="DeckFormModal">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">
          {{ payload && payload.payload ? "Edit Deck" : "Create Deck" }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" @click.prevent="closeModal">×</span>
        </button>
      </div>

      <DeckForm :deck="payload.payload" @submit="onSubmit" />
      <div class="d-flex justify-content-end">
        <button class="btn btn-danger" @click.prevent="closeModal">
          Close
        </button>
      </div>
    </v-modal>
  </div>
</template>
<script>
import axios from "axios";
import Cookies from "js-cookie";

import DeckForm from "@/components/Decks/DeckForm.vue";
export default {
    name: "default",
  components: {
    DeckForm,
  },
  data() {
    return {
      isLogin: false,
    };
  },
  mounted(context) {
    let token = Cookies.get("token");
    console.log(token);
    if (token) {
      this.isLogin = true;
    }
  },
  methods: {
    openModal() {
      this.$modal.open({ name: "DeckFormModal" });
    },
    closeModal() {
      this.$modal.close({ name: "DeckFormModal" });
    },
    onSubmit(deckData) {
      const token = this.$store.getters.token;

      if (deckData && !deckData.id) {
        axios
          .post(
            "https://vuejs-28d14-default-rtdb.firebaseio.com/decks.json?auth=" +
              token,
            deckData
          )
          .then((data) => {
            console.log("data submit", data);
          })
          .catch((e) => {
            console.log(e);
          });
      } else {
        axios
          .put(
            "https://vuejs-28d14-default-rtdb.firebaseio.com/decks/" +
              deckData.id +
              ".json?auth=" +
              token,
            deckData
          )
          .then((data) => {
            console.log("data edit", data);
          })
          .catch((e) => {
            console.log(e);
          });
      }
    },
    logOut() {
      this.$store.dispatch('logOut');
      this.$router.push('/');
    },
  },
};
</script>