<template>
    <div>
        <h1> about </h1>
        <input type="text" v-model="userId">
        <button @click="showUser"> Checked </button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                userId: '0'
            }
        },
        methods: {
            showUser() {
                this.$router.push(`/decks/${this.userId}`);
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>